services:
    # help PHPStan to understand our magic (needed for level >= 5)
    -
        class: Phlex\Core\Hintable\Phpstan\MagicReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
            - phpstan.broker.methodsClassReflectionExtension

rules:
    - Phlex\Core\Hintable\Phpstan\AssertSamePhpstanTypeRule